{% extends 'layout.html.twig' %}

{% block title %}{{ 'auth.login'|trans }}{% endblock %}

{% block content %}
    {% if error is defined and error|length %}
        {% include 'default/_single_alert_message.html.twig' with {
        is_single_message: true,
        is_dismissible: false,
        type: 'danger',
        message: error,
        } %}
    {% endif %}

    <section class="site-main section">
        <div class="pure-g pure-g-wide">
            <div class="pure-u-1 pure-u-md-1-2">
                <h2>{{ 'auth.login'|trans }}</h2>
                {{ form_start(form, { method: 'post', attr: { 'class': 'form form-stacked margin-top' }, action: path('auth_login_check') }) }}
                {{ form_widget(form) }}
                <button title="{{ 'auth.login'|trans }}" class="pure-button pure-button-primary margin-top">
                    <span class="icon icon-login"></span>
                    {{ 'auth.login'|trans }}
                </button>
                {{ form_end(form) }}
            </div>
            <div class="pure-u-1 pure-u-md-1-2">
                <h2>{{ 'title.no_account'|trans }}</h2>
                <p>{{ 'message.register'|trans }}</p>
                <a class="pure-button" href="{{ url('auth_register') }}">
                    <span class="icon icon-add-user"></span>
                    {{ 'auth.register'|trans }}
                </a>
            </div>
        </div>
    </section>
{% endblock %}