{% extends 'layout.html.twig' %}

{% block title %}{{ 'title.project_delete'|trans({'%id%': project.id}) }}{% endblock %}

{% form_theme form with ['form/form_errors.html.twig'] %}

{% block content %}
    {% include('default/_submenu.html.twig') %}

    <section class="site-main section">
        <div class="pure-g pure-g-wide">
            <div class="pure-u-1">
                <h3 class="header-icon">
                    <span class="icon icon-trash" aria-hidden="true"></span>
                    <span>{{ 'title.project_delete'|trans }}</span>
                </h3>

                <p>{{ 'message.delete_project'|trans }}: <strong>{{ project.name }}</strong></p>

                {{ form_start(form, { method: 'post', attr: { 'class': 'form form-stacked' }, action: url('project_delete', {'id': project.id}) }) }}
                {{ form_widget(form) }}
                <div class="pure-button-group margin-top">
                    <button type="submit" class="pure-button pure-button-delete">
                        {{ 'button.delete'|trans }}
                    </button>
                    <a href="{{ url('project_view', { 'id': project.id }) }}" class="pure-button">
                        {{ 'button.cancel'|trans }}
                    </a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </section>

{% endblock %}