{% extends 'layout.html.twig' %}

{% block title %}{{ 'title.project_edit'|trans({'%id%': project.id}) }}{% endblock %}

{% form_theme form with ['form/form_errors.html.twig'] %}

{% block content %}
    {% include('default/_submenu.html.twig') %}

    <section class="site-main section">
        <div class="pure-g pure-g-wide">
            <div class="pure-u-1">
                <h2 class="header-icon">
                    <span class="icon icon-cog" aria-hidden="true"></span>
                    <span>{{ 'title.project_edit'|trans }}</span>
                </h2>

                <div class="pure-g panels">
                    <div class="pure-u-1 panel">
                        <div class="panel-body">
                            <div class="panel-content">
                                {{ form_start(form, { method: 'post', attr: { 'id': 'project', 'class': 'form form-stacked' }, action: url('project_edit', {'id': project.id}) }) }}
                                {{ form_widget(form) }}
                                {{ form_end(form) }}
                            </div>
                            <div class="panel-foot">
                                <ul class="controls">
                                    <li>
                                        <button form="project" title="{{ 'button.save'|trans }}">
                                            <span class="icon icon-check" aria-hidden="true"></span>
                                            {{ 'button.save'|trans }}
                                        </button>
                                    </li>
                                    <li>
                                        <a href="{{ url('project_view', { 'id': project.id }) }}">
                                            <span class="icon icon-cross" aria-hidden="true"></span>
                                            {{ 'button.cancel'|trans }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}