{% extends 'layout.html.twig' %}

{% block title %}
    {{ 'title.note_view'|trans }}
{% endblock %}

{% block content %}
    {% include('default/_submenu.html.twig') %}

    <section class="site-main section">

        <div class="pure-g pure-g-wide">
            <div class="pure-u-1">

                <h3 class="header-icon">
                    <span class="icon icon-trash" aria-hidden="true"></span>
                    <span>{{ 'title.note_view'|trans }}</span>
                </h3>

                {% if note %}
                    <!-- Panels -->
                    <div class="pure-g panels">
                        <div class="pure-u panel">
                            <div class="panel-body">
                                <div class="panel-head">
                                    <h4 class="panel-title">
                                        <span>{{ note.title }}</span>
                                    </h4>
                                </div>
                                <div class="panel-content">
                                    {{ note.content|nl2br }}
                                </div>
                                <div class="panel-foot">
                                    <ul class="controls">
                                        <li>
                                            <a href="{{ url('note_edit', { 'id': note.id, 'project_id': project.id }) }}">
                                                <span class="icon icon-edit" aria-hidden="true"></span>
                                                <span>{{ 'button.edit'|trans }}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ url('note_delete', { 'id': note.id, 'project_id': project.id }) }}">
                                                <span class="icon icon-trash" aria-hidden="true"></span>
                                                <span>{{ 'button.delete'|trans }}</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p>{{ 'message.no_record_found'|trans }}</p>
                {% endif %}

            </div>
        </div>

    </section>
{% endblock %}
