{% extends 'layout.html.twig' %}

{% block title %}
    {{ 'title.bookmark_view'|trans }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h1>{{ 'title.bookmark_view'|trans }}</h1>
            {% if bookmark|length %}
                <div>
                    <h2>{{ bookmark.title }}</h2>
                    <a class="btn btn-link" href="{{ bookmark.url }}">{{ bookmark.url }}</a>
                    <h3>{{ 'title.bookmark_tags'|trans }}</h3>
                    {% if tags|length %}
                        <ul>
                            {% for tag in tags %}
                                <li>{{ tag.name }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% else %}
                <div>
                    <p>{{ 'message.bookmark_none'|trans }}</p>
                </div>
            {% endif %}

            <a class="btn btn-default" href="{{ url('bookmark_index') }}" title="{{ 'label.back_to_list'|trans }}">
                <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
                {{ 'label.back_to_list'|trans }}
            </a>

        </div>
    </div>
{% endblock %}
