{% extends 'layout.html.twig' %}

{% block title %}
    {{ 'title.tag_view'|trans }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h1>{{ 'title.tag_view'|trans }}</h1>
            {% if tag|length %}
                <div>
                    <h2>{{ tag.name }}</h2>
                    <h3>{{ 'title.bookmarks_for_tag' }}</h3>
                    {% if bookmarks|length %}
                        <ul>
                        {% for bookmark in bookmarks %}
                            <li>{{ bookmark.title }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% else %}
                <div>
                    <p>{{ 'message.tag_none'|trans }}</p>
                </div>
            {% endif %}

            <a class="btn btn-link" href="{{ url('tag_index') }}" title="{{ 'label.back_to_list'|trans }}">
                {{ 'label.back_to_list'|trans }}
            </a>

        </div>
    </div>
{% endblock %}
