{% extends 'layout.html.twig' %}

{% block title %}
    {{ 'title.task_list'|trans }}
{% endblock %}

{% block content %}
    {% include('default/_submenu.html.twig') %}

    <section class="site-main section">

        <div class="pure-g pure-g-wide">
            <div class="pure-u-1">

                <h3 class="header-icon">
                    <span class="icon icon-list" aria-hidden="true"></span>
                    <span>{{ 'title.task_list'|trans }}</span>
                </h3>

                <div class="pure-g panels">
                    <a class="pure-u panel panel-primary hoverable" href="{{ url('task_add', { 'project_id': project.id }) }}">
                        <div class="panel-body panel-content">
                            <h4 class="panel-title">
                                <span class="icon icon-list" aria-hidden="true"></span> {{ 'label.add_task'|trans }}
                            </h4>
                        </div>
                    </a>
                </div>

                <!-- Panels -->
                    {% if paginator.data|length %}
                        <div class="pure-g panels tasks margin-top">
                            {% for row in paginator.data %}
                                {% if row.done == 0 %}
                                    <a class="pure-u panel hoverable" href="{{ url('task_view', { 'id': row.id, 'project_id': project.id }) }}">
                                        <div class="panel-body panel-content">
                                            <h4 class="panel-title">
                                                {% if row.user_id %}
                                                    <img class="task-assignment" src="{{ asset('img/profile.png') }}" alt="{{ 'message.assigned'|trans }}">
                                                {% endif %}
                                                <span>{{ row.name }}</span>
                                            </h4>
                                            {% if row.priority_id == 1 %}
                                                <span class="priority low">{{ 'label.priority_low'|trans }}</span>
                                            {% elseif row.priority_id == 2 %}
                                                <span class="priority medium">{{ 'label.priority_medium'|trans }}</span>
                                            {% elseif row.priority_id == 3 %}
                                                <span class="priority high">{{ 'label.priority_high'|trans }}</span>
                                            {% endif %}
                                        </div>
                                    </a>
                                {% else %}
                                    <a class="pure-u panel panel-muted hoverable" href="{{ url('task_view', { 'id': row.id, 'project_id': project.id }) }}">
                                        <div class="panel-body panel-content">
                                            <h4 class="panel-title">
                                                {% if row.user_id %}
                                                    <img class="task-assignment" src="{{ asset('img/profile.png') }}" alt="{{ 'message.assigned'|trans }}">
                                                {% endif %}
                                                <span>{{ row.name }}</span>
                                            </h4>
                                            {% if row.priority_id == 1 %}
                                                <span class="priority low">{{ 'label.priority_low'|trans }}</span>
                                            {% elseif row.priority_id == 2 %}
                                                <span class="priority medium">{{ 'label.priority_medium'|trans }}</span>
                                            {% elseif row.priority_id == 3 %}
                                                <span class="priority high">{{ 'label.priority_high'|trans }}</span>
                                            {% endif %}
                                        </div>
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="pure-g pure-g-wide">
                            <div class="pure-u-1">
                                <p>{{ 'message.no_tasks'|trans }}</p>
                            </div>
                        </div>
                    {% endif %}

                {% include 'default/_paginator.html.twig' with {
                paginator: paginator,
                route_name: 'task_index_paginated',
                } %}

            </div>
        </div>

    </section>
{% endblock %}