{% extends 'layout.html.twig' %}

{% block title %}
    {{ 'title.project_view'|trans }}
{% endblock %}

{% block content %}
    {% include('default/_submenu.html.twig') %}

    <section class="site-main section">

        <div class="pure-g pure-g-wide">
            <div class="pure-u-1">

                <h3 class="header-icon">
                    <span class="icon icon-list" aria-hidden="true"></span>
                    <span>{{ 'title.task_view'|trans }}</span>
                </h3>

                <!-- Panels -->
                <div class="pure-g panels task-view">
                    <div class="pure-u panel">
                        <div class="panel-body">
                            <div class="panel-head">
                                <span class="priority high">{{ task.priority_id }}</span>
                                <h4 class="panel-title">
                                    <span>{{ task.name }}</span>
                                </h4>
                                <div class="panel-meta">
                                    <span>
                                        {% if task.date %}
                                            {{ task.date }}
                                        {% else %}
                                            {{ 'message.no_due_date'|trans }}
                                        {% endif %}
                                    </span>
                                    <span>
                                        {% if task.user_id %}
                                            {{ 'message.assignment'|trans }}: <a href="{{ url('user_view', { 'id': task.user_id }) }}">{{ user.login }}</a>
                                        {% else %}
                                            {{ 'message.no_assignment'|trans }}
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                            <div class="panel-content">
                                <h5>{{ 'title.description'|trans }}</h5>
                                <p>{{ task.description }}</p>
                            </div>
                            <div class="panel-foot">
                                <ul class="controls">
                                    <li>
                                        <a href="">
                                            <span class="icon icon-check" aria-hidden="true"></span>
                                            <span>Finish</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="task-edit.html">
                                            <span class="icon icon-edit" aria-hidden="true"></span>
                                            <span>Edit</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ url('task_delete', { 'id': task.id, 'project_id': project.id }) }}">
                                            <span class="icon icon-trash" aria-hidden="true"></span>
                                            <span>{{ 'button.remove'|trans }}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}
